.field-checkbox2 .field {
  position: absolute;
  left: 2px;
  top: 2px;
  opacity: 0;
}

.field-checkbox2 .field:not(:checked) + .description,
.field-checkbox2 .field:checked + .description {
 display: flex;
 align-items: center;
}

.field-checkbox2 .field:not(:checked) + .description::before,
.field-checkbox2 .field:checked + .description::before {
  margin-right: 10px;
}
